@(tag: models.Tag, hooks: Seq[models.Hook])(implicit request: RequestHeader)
@main(title = "tags") {

<ul class="breadcrumb">
    <li>
        <a href="#">Home</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="#">@tag.owner.email</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="#">tag</a> <span class="divider">/</span>
    </li>
    <li class="active">@tag.tagID</li>
</ul>


<div class="row">
    <div class="span3">
        <ul class="nav nav-list">
            <li class="nav-header">
                List header
            </li>
            <li>
                <a href="#">
                    <i class="icon-book"></i>
                    Web Hooks
                </a>
            </li>
            <li class="nav-header">
                List header
            </li>
            <li>
                <a href="#">Stats</a>
            </li>
        </ul>
    </div>
    <div class="span8">

        <h1>Info <span class="label label-success">Active</span></h1>
        <p>Last ping happened on January the 7th by user unknown</p>

        <form method="post" class="well" action="@routes.Hook.create(tag.tagID)">
            <label>Label name</label>
            <input type="text" class="span3" placeholder="Type something…">
            <span class="help-block">Example block-level help text here.</span>
            <label class="checkbox">
                <input type="checkbox"> Check me out
            </label>
            <button type="submit" class="btn">Submit</button>
        </form>

        <a href="@routes.Hook.create(tag.tagID)">Create a new webhook</a>
        @hook.hooks(hooks)
    </div>
</div>


}